

<head>
    <title>{{news.title}}</title>
    <meta title="description" content="{{news.description}}"> 
     <meta property="og:image" content="../img/bai-viet/{{news.img}}" />
    <meta property="og:image:width" content="1280" /&>
    <meta property="og:image:height" content="720"; />
</head>


 <div class="ban">
        <img src="" alt="">
</div>
<div class="grid2">
<div class="baiviet">
    <h1> {{news.title}} </h1>
    <div class="boder-btn"></div>
    <br>
    <i>{{news.sapo-baiviet}}</i>
            <div class="grid">
                <div class="col l-12 c-12 m-12">
                 <div class="noidung-mota">
                        <h2> <b> {{news.tieudeh21}} </b> </h2>   
                             <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img0}}" alt="{{news.nameimg0}}">
                             <br>
                                <i>{{news.nameimg0}} </i>
                             </div>
                         </div>
                         <br>
                        <div class="noidung1">

                        <h3> {{news.tieudeh31}}</h3>
                          <p>
                              {{news.noidung11 }} <i>{{news.keyword1 }} </i> {{news.noidung12 }} <br>
                              {{news.noidung13 }} 
                              {{news.noidung14 }}                   
                              {{news.noidung15 }}                   
                              {{news.noidung16 }}                   
                            

                         </p>
                         <br>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img1}}" alt="{{news.nameimg1}}">
                             <br>
                                <i>{{news.nameimg1}} </i>
                             </div>
                         </div>
                         <br>
                         <h3> {{news.tieudeh32}}</h3>
                          <p>
                              {{news.noidung21 }} <i>{{news.keyword2 }} </i> {{news.noidung22 }} <br>
                              {{news.noidung23 }}                    
                         </p>
                         <br>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img2}}" alt="{{news.nameimg2}}">
                             <br>
                                <i>{{news.nameimg2}} </i>
                             </div>
                         </div>

                          <h3> {{news.tieudeh33}}</h3>
                          <p>
                              {{news.noidung31 }} <i>{{news.keyword3 }} </i> {{news.noidung32 }} <br>
                              {{news.noidung33 }}                    
                         </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img3}}" alt="{{news.nameimg3}}">
                             <br>
                                <i>{{news.nameimg3}} </i>
                             </div>
                         </div>

                          <h3> {{news.tieudeh34}}</h3>
                          <p>
                              {{news.noidung41 }} <i>{{news.keyword4 }} </i> {{news.noidung42 }} <br>
                              {{news.noidung43 }}                    
                         </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img4}}" alt="{{news.nameimg4}}">
                             <br>
                                <i>{{news.nameimg4}} </i>
                                
                             </div>
                         </div>

                          <h3> {{news.tieudeh35}}</h3>
                          <p>
                              {{news.noidung51 }} <i>{{news.keyword5 }} </i> {{news.noidung52}} <br>
                              {{news.noidung53 }}                    
                         </p>
                         <br>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img5}}" alt="{{news.nameimg5}}">
                             <br>
                                <i>{{news.nameimg5}} </i>
                             </div>
                         </div>

                         <h3> {{news.tieudeh36}}</h3>
                          <p>
                              {{news.noidung61 }} <i>{{news.keyword6 }} </i> {{news.noidung62 }} <br>
                              {{news.noidung63 }}                    
                         </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img6}}" alt="{{news.nameimg6}}">
                             <br>
                                <i>{{news.nameimg6}} </i>
                             </div>
                         </div>
                         <h3> {{news.tieudeh37}}</h3>
                          <p>
                              {{news.noidung71 }} <i>{{news.keyword7 }} </i> {{news.noidung72 }} <br>
                              {{news.noidung73 }}                    
                         </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img7}}" alt="{{news.nameimg7}}">
                             <br>
                                <i>{{news.nameimg7}} </i>
                             </div>
                         </div>
                                <p style="color: blue;">Thiết bị siêu thị Tân Phát <br>
                                    Hotline: 0982.749.887 <br>
                                    Địa chỉ: <br>
                                    Hà Nội: ngõ 85 Xuân Thủy, Cầu Giấy <br>
                                    Bắc Giang: 288 Nguyễn Xuân Lan, TT.Vôi, Lạng Giang <br>
                                    Email: thietsieuthitanphat@gmail.com<br>
                                    Website: thietbisieuthitanphat.com<br>
                                </p>
                            </div>
                </div>
          </div>
  
    

</p>
</div>
</div>
