
<head>
    <title>{{news.title}}</title>
    <meta title="description" content="{{news.description}}"> 
     <meta property="og:image" content="../img/bai-viet/{{news.img}}">
    <meta property="og:image:type" content="article"> 
    <meta property="og:description" content="{{news.description}}">

</head>


 <div class="ban">
        <img src="" alt="">
</div>

<div class="grid2">
<div class="baiviet">
    <h1> {{news.title}} </h1>
    <div class="boder-btn"></div>
    <br>
    <strong>  <i>{{news.sapo-baiviet}}</i></strong>
    <br>
    <div class="bai-viet">
    <img src="../img/bai-viet/{{news.imgsapo}}" alt="{{news.nameimgsapo}}">
    <br>
    <i>{{news.nameimgsapo}} </i>

    </div>
<!--Đoạn 1-->

            <div class="grid">
                <div class="col l-12 c-12 m-12">
                 <div class="noidung-mota">
                        <div class="baiviet">

                        <h2> {{news.tieudeh2_2}} </h2>

                        <p>
                         <a href="{{news.link1}}"> {{news.tenlink1}}</a> {{news.p2_1}}
                        </p>
                        <p>
                          {{news.p2_2}}
                        </p>
                        <p>
                          {{news.p2_3}}
                        </p>
                        <p>
                          {{news.p2_4}}
                        </p>
                        <p>
                          {{news.p2_5}}
                        </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img1}}" alt="{{news.nameimg1}}">
                             <br>
                                <i>{{news.nameimg1}}</i>
                             </div>
                         </div>
                         
<!-- Hết đoạn 1-->

<!--Đoạn 2-->

                        <h2> {{news.tieudeh2_3}} </h2>

                        <p>
                         <a href="{{news.link2}}"> {{news.tenlink2}}</a> {{news.p3_1}}
                        </p>
                        <p>
                          {{news.p3_2}}
                        </p>
                        <p>
                          {{news.p3_3}}
                        </p>
                        <p>
                          {{news.p3_4}}
                        </p>
                        <p>
                          {{news.p3_5}}
                        </p>
                        <p>
                        <strong style="line-height: 10px;"> {{news.xemthem1}} </strong>    <a style="color: green; font-size: 20px"  href="{{news.link11}}"> {{news.namelink11}}</a>
                      
                        </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img2}}" alt="{{news.nameimg2}}">
                             <br>
                                <i>{{news.nameimg2}}</i>
                             </div>
                         </div>
<!--Hết đoạn 2-->

<!--Đoạn 3-->
                        <h2> {{news.tieudeh2_4}} </h2>

                        <p>
                         <a href="{{news.link3}}"> {{news.tenlink3}}</a> {{news.p4_1}}
                        </p>
                        <p>
                          {{news.p4_2}}
                        </p>
                        <p>
                          {{news.p4_3}}
                        </p>
                        <p>
                          {{news.p4_4}}
                        </p>
                        <p>
                          {{news.p4_5}}
                        </p>
                        <strong> {{news.xemthem2}} </strong>    <a style="color: blue; font-size: 20px"  href="{{news.link22}}"> {{news.namelink22}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img3}}" alt="{{news.nameimg3}}">
                             <br>
                                <i>{{news.nameimg3}}</i>
                             </div>
                         </div>
<!--Hết đoạn 3-->
<!--Đoạn 4-->
                        <h2> {{news.tieudeh2_5}} </h2>

                        <p>
                         <a href="{{news.link4}}"> {{news.tenlink4}}</a> {{news.p5_1}}
                        </p>
                        <p>
                          {{news.p5_2}}
                        </p>
                        <p>
                          {{news.p5_3}}
                        </p>
                        <p>
                          {{news.p5_4}}
                        </p>
                        <p>
                          {{news.p5_5}}
                        </p>
                        <strong> {{news.xemthem3}} </strong>    <a style="color: orangered; font-size: 20px"  href="{{news.link33}}"> {{news.namelink33}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img4}}" alt="{{news.nameimg4}}">
                             <br>
                                <i>{{news.nameimg4}}</i>
                             </div>
                         </div>
<!--Hết đoạn 4-->                 
<!--Đoạn 5-->
                        <h2> {{news.tieudeh2_6}} </h2>

                        <p>
                         <a href="{{news.link5}}"> {{news.tenlink5}}</a> {{news.p6_1}}
                        </p>
                        <p>
                          {{news.p6_2}}
                        </p>
                        <p>
                          {{news.p6_3}}
                        </p>
                        <p>
                          {{news.p6_4}}
                        </p>
                        <p>
                          {{news.p6_5}}
                        </p>
                        <strong> {{news.xemthem4}} </strong>    <a style="color: red; font-size: 20px"  href="{{news.link44}}"> {{news.namelink44}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img5}}" alt="{{news.nameimg5}}">
                             <br>
                                <i>{{news.nameimg5}}</i>
                             </div>
                         </div>
<!--Hết đoạn 5-->   
<!--Đoạn 6-->
                        <h2> {{news.tieudeh2_7}} </h2>

                        <p>
                         <a href="{{news.link6}}"> {{news.tenlink6}}</a> {{news.p7_1}}
                        </p>
                        <p>
                          {{news.p7_2}}
                        </p>
                        <p>
                          {{news.p7_3}}
                        </p>
                        <p>
                          {{news.p7_4}}
                        </p>
                        <p>
                          {{news.p7_5}}
                        </p>
                        <strong> {{news.xemthem5}} </strong>    <a style="color: rgb(255, 0, 234); font-size: 20px"  href="{{news.link55}}"> {{news.namelink55}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img6}}" alt="{{news.nameimg6}}">
                             <br>
                                <i>{{news.nameimg6}}</i>
                             </div>
                         </div>
<!--Hết đoạn 6-->   
                          <strong style="color: red;">{{news.final}} </strong>

                          
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img7}}" alt="{{news.nameimg7}}">
                             </div>
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img8}}" alt="{{news.nameimg8}}">
                             </div>
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{news.img9}}" alt="{{news.nameimg9}}">
                             </div>

                        <div class="xemthembaiviet">
                        <strong> {{news.xemthemfinal}} </strong>    <a style="color: red; font-size: 20px"  href="{{news.linkfinal}}"> {{news.namelinkfinal}}</a>

                        </div>

                    </div>
                </div>
          </div>
  
    

</p>
</div>
</div>
