<head>
    <meta name="description" content="{{kekhos.description}}">
    <title> {{kekhos.name}}</title>
    <meta property="og:image" content="../img/ke-kho/{{kekhos.anh1}}" />
    <meta property="og:image:width" content="1280" /&>
    <meta property="og:image:height" content="720"; />
    <meta property="og:image:type" content="article" /> 
    <meta property="og:description" content="{{kekhos.description}}"; />

</head>  
<!-- Danh mục sản phẩm -->
 <div class="ban">
        <img src="" alt="">
</div>
    <div class="danh-muc-san-pham">
        <div class="grid wide">
            <div class="row">
                <div class="col l-3 m-0 c-0">

                    <div class="danh-muc">

                      <div class="col l-12 m-12 c-12">
                          <h3> DANH MỤC SẢN PHẨM </h3>
                      </div>

                    
                
                      <div class="col l-12 m-12 c-12 ">
                        <h4 class="top"> <a href="/ke-sieu-thi/ke-sieu-thi-luoi-doi"> GIÁ KỆ SIÊU THỊ LƯỚI ĐÔI</a> </h4>
                    </div>
                    <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-sieu-thi-luoi-don"> GIÁ KỆ SIÊU THỊ LƯỚI ĐƠN</a> </h4>
                    </div>
                    <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-sieu-thi-ton-lien-don"> KỆ SIÊU THỊ TÔN LIỀN ĐƠN</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-sieu-thi-ton-lien-doi"> KỆ SIÊU THỊ TÔN LIỀN ĐÔI</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-sieu-thi-ton-duc-lo-don"> GIÁ KỆ TÔN ĐỤC LỖ ĐƠN </a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-sieu-thi-ton-duc-lo-doi"> GIÁ KỆ TÔN ĐỤC LỖ ĐÔI</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-kho/ke-sat-v-lo"> KỆ SẮT V LỖ</a> </h4>
                    </div>
                    <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-kho/ke-trung-tai"> KỆ TRUNG TẢI</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/thiet-bi-sieu-thi/xe-day-hang-sieu-thi"> XE ĐẨY HÀNG</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-rau-sieu-thi"> KỆ RAU SIÊU THỊ</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-sieu-thi/ke-gio-my-sieu-thi"> KỆ GIỎ MỲ</a> </h4>
                    </div>
                     <div class="col l-12 m-12 c-12 ">
                        <h4 class=""> <a href="/ke-kho/tu-do-sieu-thi"> TỦ ĐỰNG ĐỒ </a> </h4>
                    </div>
                   
                   
                   
                    
                    <div class="hotline">
                            <h3>HỖ TRỢ TRỰC TUYẾN</h3>
                        <img src="../img/telesale.jpg" alt="">
                            <b> Hotline:  </b> 
                            <h2>0982.749.887</h2>
                            <p>Email: kinhdoanh.tanphat@gmail.com</p>
                    </div>
                 

                    </div>

                </div>

                <div class="col l-9 m-12 c-12">
                    <div class="category">
                        <div class="grid">
                        <!-- Chi tieest san pham -->

                       <div class="col l-12 m-12 c-12">
                        <div class="mota-sanpham">
                            <div class="grid wide">
                                <div class="row no-gutters">
                                    <div class="col l-4 m-6 c-12">
                                        <div class="anh-sanpham">    
                                            <div class="input-image">
                                                <div class="imgBox"> <img src="../img/ke-kho/{{kekhos.anh1}}" alt=""></div>
                                                <ul class="thumb">
                                                    <li> <a href="../img/ke-kho/{{kekhos.anh1}}" target="imgBox"><img src="../img/ke-kho/{{kekhos.anh1}}" width="50px" height="50px" alt=""> </a></li>
                                                    <li> <a href="../img/ke-kho/{{kekhos.anh2}}" target="imgBox"><img src="../img/ke-kho/{{kekhos.anh2}}" width="50px" height="50px" alt=""> </a></li>
                                                    <li> <a href="../img/ke-kho/{{kekhos.anh3}}" target="imgBox"><img src="../img/ke-kho/{{kekhos.anh3}}" width="50px" height="50px" alt=""> </a></li>
                                                    <li> <a href="../img/ke-kho/{{kekhos.anh4}}" target="imgBox"><img src="../img/ke-kho/{{kekhos.anh4}}" width="50px" height="50px" alt=""> </a></li>                         
                                                </ul>
                                            </div>                        
                                        </div>
                    
                                    </div>
                    
                                    <div class="col l-6 m-6 c-12">
                                        <div class="chitiet-sanpham">   
                    
                                            <div class="col l-12 m-12 c-12">
                                                <div class="title">
                                                   <hr  width="90%" size="1px" align="center" />
                                                   <h1>{{kekhos.name}} </h1> 
                                                   
                                                   <hr  width="90%" size="1px" align ="center" />
                    
                                                   <h2> Giá bán: Liên hệ</h2>
                                                 
                                                   <p>
                                                   <b> Kích thước: </b>  
                                                    <br> Chiều cao: {{kekhos.chieudai}}
                                                    <br> Chiều dài: {{kekhos.chieucao}} 
                                                    <br> Độ rộng: {{kekhos.chieurong}}


                                                    <br>
                                                    <b> Số tầng: </b> {{kekhos.sotang}} 
                                                    <br>
                                                    <b>Màu sắc: </b> {{kekhos.mausac}} 
                                                    <br>
                                                    <b> Trọng tải: </b>  {{kekhos.chiutai}}                                                                                                                                        
                                                    <br>
                                                    <b>Tình trạng:  </b> Còn hàng
                                                  
                                                  
                                                    <br>       
                                                     <b>Đánh giá:</b> 5 <i class="fas fa-star"></i> đánh giá tốt từ khách hàng  
                                                     <br> 
                                                    <b class="btn">GỌI NGAY : 0982.749.887</b>

                                                   </p>
                                                   <br>

                                                </div>                                           
                                            </div>   
                                        </div>
                    
                                    </div>
                    
                                    <div class="col l-2 m-12 c-12">
                                        <div class="dichvu">    
                                            <div class="col l-3 m-3 c-3">
                                                <img src="../img/lap-dat-mien-phi.jpg" alt="lắp đặt miễn phí">                           
                                            </div>  
                                            <div class="col l-3 m-3 c-3">
                                                <img src="../img/bao-hanh-mien-phi.jpg" alt="bảo hành">                                                  
                                            </div>
                                            <div class="col l-3 m-3 c-3">
                                                <img src="../img/ho-tro-tu-van-mien-phi.jpg" alt="tư vấn">                          
                                            </div>
                                            <div class="col l-3 m-3 c-3">
                                                <img src="../img/san-pham-da-dang.jpg" alt="đa dạng sản phẩm">                                 
                                            </div>
                    
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                       </div>

                       <div class="col l-12 m-12 c-12">
                        <div class="thong-tin-mua-hang">
                            <h3>Nhập thông tin đặt mua</h3>
                        </div>
                          <div class="grid wide">
                              <div class="row">
                         
                                <div class="col l-10 m-6 c-12">
                                    <div>
                                        <form method="post" autocomplete="off" name="google-sheet">
                                          <input type="text" name="name" placeholder="Họ và tên" required="Vui lòng nhập tên">
                                          <input type="text" name="sdt" placeholder="Số điện thoại "required="">
                                          <input type="text" name="dia_chi" placeholder="Địa chỉ nhận hàng" required="">

                                            <div class="chon-sp">
                                           <div class="col l-6 m-6 c-6">

                                                <label for="sanpham">Loại sản phẩm</label>
                                                <select id="sanpham" name="sanpham">
                                                  <option name="ke-sieu-thi" value="ke-sieu-thi">Kệ siêu thị </option>
                                                  <option name="ke-kho" value="ke-kho">Kệ kho hàng </option>
                                              
      
                                                </select>                                               
                                            </div>
                                            <div class="col l-6 m-6 c-6">

                                                <label for="so_luong">Kích thước (mét)</label>
                                                <input type="text" name="kich_thuoc" placeholder="Kích thước" required="">
                                                                                             
                                            </div>
                                           
                                            </div>
   
                                        <input type="radio"  name="thanhtoan" value="tienmat" checked>
                                        <label for="tienmat">Thanh toán tiền mặt khi nhận hàng</label><br>
                                        <input type="radio" name="thanhtoan" value="chuyenkhoan">
                                        <label for="chuyenkhoan">Thanh toán chuyển khoản qua thẻ ngân hàng trong nước</label><br>
                                        
                                          <br>
                                          <input type="submit" value="Đặt mua">
                                        </form>
                                    
                                      </div>
                                </div>
                              </div>

                          </div>

                       </div>
                               
                    </div>
                </div>
         </div>
     </div>
</div>
<script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbyfohbEAP18-wOm3XMh_ez7urWN90QJO_E8XI8Yf6XB-1fBf7g/exec'
            const form = document.forms['google-sheet']
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => alert("Cảm ơn bạn đã tin tưởng! Chúng tôi sẽ liên hệ sớm nhất"))
                .catch(error => console.error('Lỗi rồi!', error.message))
            })
          </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <br>
 <br>

<div class="grid wide">
    <div class="row">
        <div class="col l-12 m-12 c-12">
            <h3>Hình ảnh sản phẩm</h3>
            <div class="hinh-anh-san-pham">
                <div class="col l-7 m-7 c-12">
                    <div class="anh-sp-to">
                        
                        <div class="container">

                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                            <a class="next" onclick="plusSlides(1)">❯</a>

                              <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet1}}" style="width:100%">
                              </div>
                               <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet2}}" style="width:100%">
                              </div>
                                 <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet3}}" style="width:100%">
                              </div>
                                 <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet4}}" style="width:100%">
                              </div>
                                 <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet5}}" style="width:100%">
                              </div>
                               <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet6}}" style="width:100%">
                              </div>
                                 <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet7}}" style="width:100%">
                              </div>
                                 <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet8}}" style="width:100%">
                              </div>
                                 <div class="mySlides">
                                <img src="../img/anh-chi-tiet/{{kekhos.anhchitiet9}}" style="width:100%">
                              </div>
                           


                            </div>    

                    </div>
                </div>
                <div class="col l-5 m-5 c-12">
                    <div class="anh-sp-nho">
                        <div class="grid">
                            <div class="row">

                                <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet1}}" style="width:100%" onclick="currentSlide(1)" >
                                    </div>
                                </div>

                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet2}}" style="width:100%" onclick="currentSlide(2)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet3}}" style="width:100%" onclick="currentSlide(3)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet4}}" style="width:100%" onclick="currentSlide(4)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet5}}" style="width:100%" onclick="currentSlide(5)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet6}}" style="width:100%" onclick="currentSlide(6)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet7}}" style="width:100%" onclick="currentSlide(7)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet8}}" style="width:100%" onclick="currentSlide(8)" >
                                    </div>
                                </div>
                                 <div class="col l-4 m-4 c-6">
                                    <div class="anh-sp-nho-a">
                                        <img class="demo cursor" src="../img/anh-chi-tiet/{{kekhos.anhchitiet9}}" style="width:100%" onclick="currentSlide(9)" >
                                    </div>
                                </div>
                                
                            </div>
                        </div>
 
                </div>  
              </div>               
            </div>
            
        </div>
    </div>
</div>
<br>
<br>

<div class="grid2">
    <div class="row">
        <div class="col l-12 m-12 c-12">
           <h2 style="color: red;">Thông tin chi tiết</h2>
            <br>
            <i>{{kekhos.sapo}}</i>
            <br>
            <br>
            <div class="anhbaiviet"> 
            <img  src="../img/bai-viet/{{kekhos.anhbaiviet}}" alt="{{kekhos.nameimg}}">
            <br>
                <i>{{kekhos.nameimg}}</i>
            </div>
            <br>
            <h3 style="color: red;">{{kekhos.tieude1}} </h3>
            <br>
            <p> {{kekhos.doanvan1}}</p>
            <p> {{kekhos.doanvan12}}</p>
            <p> {{kekhos.doanvan13}}</p>
            <p> {{kekhos.doanvan14}}</p>
            <p> {{kekhos.doanvan15}}</p>
            <br>
            <div class="anhbaiviet"> 
            <img  src="../img/bai-viet/{{kekhos.anhbaiviet1}}" alt="{{kekhos.nameimg1}}">
             <br>
                <i>{{kekhos.nameimg1}}</i>
            </div>

            <br>
            <h3 style="color: red;">{{kekhos.tieude2}}</h3>
            <p>{{kekhos.doanvan2}} </p>
            <p>{{kekhos.doanvan21}} </p>
            <p>{{kekhos.doanvan22}} </p>
            <p>{{kekhos.doanvan23}} </p>
            <p>{{kekhos.doanvan24}} </p>
              <br>
             <div class="anhbaiviet"> 
            <img  src="../img/bai-viet/{{kekhos.anhbaiviet2}}" alt="{{kekhos.nameimg2}}">
             <br>
                <i>{{kekhos.nameimg2}}</i>
            </div>
    <br>
          


            <h3 style="color: red;">{{kekhos.tieude3}}</h3>
             <p>{{kekhos.doanvan3}} </p>
              <p>{{kekhos.doanvan31}} </p>
               <p>{{kekhos.doanvan32}} </p>
                <p>{{kekhos.doanvan33}} </p>
                 <p>{{kekhos.doanvan34}} </p>
                  <p>{{kekhos.doanvan35}} </p>

                    <br>
             <div class="anhbaiviet"> 
            <img  src="../img/bai-viet/{{kekhos.anhbaiviet3}}" alt="{{kekhos.nameimg3}}">
            <br>
              <i>{{kekhos.nameimg3}}</i>
            </div>
    <br>
        </div>
    </div>
</div>

<!--Script  -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
           $('.imgBox img').attr("src", $(this).attr("href")); 
        })
    })
    </script>
    
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demo");
          var captionText = document.getElementById("caption");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          captionText.innerHTML = dots[slideIndex-1].alt;
        }

        </script>

          
