
<head>
    <title>{{tintucs.title}}</title>
    <meta title="description" content="{{tintucs.description}}"> 
     <meta property="og:image" content="../img/bai-viet/{{tintucs.img}}" />
    <meta property="og:image:type" content="article" /> 
    <meta property="og:description" content="{{tintucs.description}}"; />

</head>


 <div class="ban">
        <img src="" alt="">
</div>

<div class="grid2">
<div class="baiviet">
    <h1> {{tintucs.title}} </h1>
    <div class="boder-btn"></div>
    <br>
    <strong>  <i>{{tintucs.sapo-baiviet}}</i></strong>
    <br>
    <div class="bai-viet">
    <img src="../img/bai-viet/{{tintucs.imgsapo}}" alt="{{tintucs.nameimgsapo}}">
    <br>
    <i>{{tintucs.nameimgsapo}} </i>

    </div>
<!--Đoạn 1-->

            <div class="grid">
                <div class="col l-12 c-12 m-12">
                 <div class="noidung-mota">
                        <div class="baiviet">

                        <h2> {{tintucs.tieudeh2_2}} </h2>

                        <p>
                         <a href="{{tintucs.link1}}"> {{tintucs.tenlink1}}</a> {{tintucs.p2_1}}
                        </p>
                        <p>
                          {{tintucs.p2_2}}
                        </p>
                        <p>
                          {{tintucs.p2_3}}
                        </p>
                        <p>
                          {{tintucs.p2_4}}
                        </p>
                        <p>
                          {{tintucs.p2_5}}
                        </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img1}}" alt="{{tintucs.nameimg1}}">
                             <br>
                                <i>{{tintucs.nameimg1}}</i>
                             </div>
                         </div>
                         
<!-- Hết đoạn 1-->

<!--Đoạn 2-->

                        <h2> {{tintucs.tieudeh2_3}} </h2>

                        <p>
                         <a href="{{tintucs.link2}}"> {{tintucs.tenlink2}}</a> {{tintucs.p3_1}}
                        </p>
                        <p>
                          {{tintucs.p3_2}}
                        </p>
                        <p>
                          {{tintucs.p3_3}}
                        </p>
                        <p>
                          {{tintucs.p3_4}}
                        </p>
                        <p>
                          {{tintucs.p3_5}}
                        </p>
                        <p>
                        <strong style="line-height: 10px;"> {{tintucs.xemthem1}} </strong>    <a style="color: green; font-size: 20px"  href="{{tintucs.link11}}"> {{tintucs.namelink11}}</a>
                      
                        </p>
                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img2}}" alt="{{tintucs.nameimg2}}">
                             <br>
                                <i>{{tintucs.nameimg2}}</i>
                             </div>
                         </div>
<!--Hết đoạn 2-->

<!--Đoạn 3-->
                        <h2> {{tintucs.tieudeh2_4}} </h2>

                        <p>
                         <a href="{{tintucs.link3}}"> {{tintucs.tenlink3}}</a> {{tintucs.p4_1}}
                        </p>
                        <p>
                          {{tintucs.p4_2}}
                        </p>
                        <p>
                          {{tintucs.p4_3}}
                        </p>
                        <p>
                          {{tintucs.p4_4}}
                        </p>
                        <p>
                          {{tintucs.p4_5}}
                        </p>
                        <strong> {{tintucs.xemthem2}} </strong>    <a style="color: blue; font-size: 20px"  href="{{tintucs.link22}}"> {{tintucs.namelink22}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img3}}" alt="{{tintucs.nameimg3}}">
                             <br>
                                <i>{{tintucs.nameimg3}}</i>
                             </div>
                         </div>
<!--Hết đoạn 3-->
<!--Đoạn 4-->
                        <h2> {{tintucs.tieudeh2_5}} </h2>

                        <p>
                         <a href="{{tintucs.link4}}"> {{tintucs.tenlink4}}</a> {{tintucs.p5_1}}
                        </p>
                        <p>
                          {{tintucs.p5_2}}
                        </p>
                        <p>
                          {{tintucs.p5_3}}
                        </p>
                        <p>
                          {{tintucs.p5_4}}
                        </p>
                        <p>
                          {{tintucs.p5_5}}
                        </p>
                        <strong> {{tintucs.xemthem3}} </strong>    <a style="color: orangered; font-size: 20px"  href="{{tintucs.link33}}"> {{tintucs.namelink33}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img4}}" alt="{{tintucs.nameimg4}}">
                             <br>
                                <i>{{tintucs.nameimg4}}</i>
                             </div>
                         </div>
<!--Hết đoạn 4-->                 
<!--Đoạn 5-->
                        <h2> {{tintucs.tieudeh2_6}} </h2>

                        <p>
                         <a href="{{tintucs.link5}}"> {{tintucs.tenlink5}}</a> {{tintucs.p6_1}}
                        </p>
                        <p>
                          {{tintucs.p6_2}}
                        </p>
                        <p>
                          {{tintucs.p6_3}}
                        </p>
                        <p>
                          {{tintucs.p6_4}}
                        </p>
                        <p>
                          {{tintucs.p6_5}}
                        </p>
                        <strong> {{tintucs.xemthem4}} </strong>    <a style="color: red; font-size: 20px"  href="{{tintucs.link44}}"> {{tintucs.namelink44}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img5}}" alt="{{tintucs.nameimg5}}">
                             <br>
                                <i>{{tintucs.nameimg5}}</i>
                             </div>
                         </div>
<!--Hết đoạn 5-->   
<!--Đoạn 6-->
                        <h2> {{tintucs.tieudeh2_7}} </h2>

                        <p>
                         <a href="{{tintucs.link6}}"> {{tintucs.tenlink6}}</a> {{tintucs.p7_1}}
                        </p>
                        <p>
                          {{tintucs.p7_2}}
                        </p>
                        <p>
                          {{tintucs.p7_3}}
                        </p>
                        <p>
                          {{tintucs.p7_4}}
                        </p>
                        <p>
                          {{tintucs.p7_5}}
                        </p>
                        <strong> {{tintucs.xemthem5}} </strong>    <a style="color: rgb(255, 0, 234); font-size: 20px"  href="{{news.link55}}"> {{news.namelink55}}</a>

                         <div class="grid wide">
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img6}}" alt="{{tintucs.nameimg6}}">
                             <br>
                                <i>{{tintucs.nameimg6}}</i>
                             </div>
                         </div>
<!--Hết đoạn 6-->   
                          <strong style="color: red;">{{tintucs.final}} </strong>

                          
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img7}}" alt="{{tintucs.nameimg7}}">
                             </div>
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img8}}" alt="{{tintucs.nameimg8}}">
                             </div>
                             <div class="bai-viet">
                             <img src="../img/bai-viet/{{tintucs.img9}}" alt="{{tintucs.nameimg9}}">
                             </div>

                        <div class="xemthembaiviet">
                        <strong> {{tintucs.xemthemfinal}} </strong>    <a style="color: red; font-size: 20px"  href="{{tintucs.linkfinal}}"> {{tintucs.namelinkfinal}}</a>

                        </div>

                    </div>
                </div>
          </div>
  
    

</p>
</div>
</div>
