<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Giá kệ siêu thị Tân Phát chúng tôi chuyên cung cấp kệ siêu thị, kệ sắt v lỗ đa năng, kệ kho hàng, kệ tạp hóa giá rẻ, chống chịu thời tiết, độ bền cao, bảo hành chính hãng 5 năm, vận chuyển và lắp đặt miễn phí tận nhà">
    <title> Giá kệ siêu thị Tân Phát - Uy tín - Chất lượng - Dẫn đầu</title>
 
</head>  
  
    <div class="banner">
        <img src="img/baner11.jpg" alt="banner giá kệ">
    </div>

   <!-- Danh mục sản phẩm -->
   <div class="grid wide">
    <div class="row">
        <div class="col l-12 m-12 c-12">
            <div class="phan-hoi">
               <h2>
                  DANH MỤC SẢN PHẨM
               </h2>
            </div>
        </div>
    </div>  
 </div>
   
    <div class="grid wide">
        <div class="danhmuc">
            <div class="col l-3 m-12 c-12">
                <div class="danhmuc_me">
                    <a href="./ke-sieu-thi"> GIÁ KỆ SIÊU THỊ </a>
                </div>

            </div>  

            <div class="col l-9 ">
                <div class="danhmuc_con">
                    <a href="">Kệ lưới</a>
                    <a href="">Kệ tôn đục lỗ</a>
                    <a href="">Kệ kệ tôn liền</a>
                    <a href="">Kệ giỏ mỳ</a>
                    <a href="">Kệ rau</a>
                    <a href="">Móc treo</a>

                </div>
            </div>
               
            </div>
        </div>
    </div>
 <!-- Danh mục sản phẩm -->


<!-- Giá kệ siêu thị  -->
  <div class="sanpham">
      <div class="grid wide">
          <div class="row">
            {{#each products}}
            <div class="col l-3 m-4 c-6">
                <div class="boder-sp"> 
                    <div class="grid">
                      <div class="row">
                          <div class="col l-12 m-12 c-12">
                          <div class="hinhanh-sanpham">
                              <a href="./ke-sieu-thi/{{this.slug}}"> <img src="../img/ke-sieu-thi/{{this.img}}" alt="{{this.name}}"></a>
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="ten-sanpham">
                                  <a href="./ke-sieu-thi/{{this.slug}}">{{this.name}} </a>
                                  <p> {{this.so_tang}}</p>
                              </div>
          
                              </div>
                              <div class="col l-12 m-12 c-12">
                                  <div class="mua-sanpham">
                                      <a href="./ke-sieu-thi/{{this.slug}}"> <button class="button button1"> XEM GIÁ </button> </a>
                                  </div>              
                              </div>  
                      </div>
                    </div>               
                </div>
            </div>
           {{/each}} 
          </div>
      </div>
  </div>


<!-- Giá kệ siêu thị  -->
<div class="grid wide">
    <div class="danhmuc">
        <div class="col l-3 m-12 c-12 danhmuc_me">
          <a href="./ke-kho">KỆ KHO HÀNG </a>
        </div>  

        <div class="col l-9 ">
            <div class="danhmuc_con">
                <a href="">Kệ Sắt V Lỗ</a>
                <a href="">Kệ Trung Tải</a>
                <a href="">Tủ Đựng Đồ Siêu Thị </a>

            </div>
        </div>
           
        </div>
    </div>
</div>


<!-- Kệ kho hàng  -->
<div class="sanpham">
  <div class="grid wide">
      <div class="row">
    
          <div class="col l-3 m-4 c-6">
              <div class="boder-sp"> 
                  <div class="grid">
                    <div class="row">
                        <div class="col l-12 m-12 c-12">
                        <div class="hinhanh-sanpham">
                            <a href="/ke-kho/ke-sat-v-lo"> <img src="./img/ke-kho/ke-sat-v-lo-gia-re.jpg" alt="kệ v lỗ"></a>
                        </div>
    
                        </div>
                        <div class="col l-12 m-12 c-12">
                            <div class="ten-sanpham">
                                <a href="/ke-kho/ke-sat-v-lo">Kệ Sắt V Lỗ</a>
                                
                            </div>
        
                            </div>
                            <div class="col l-12 m-12 c-12">
                                <div class="mua-sanpham">
                                      <a href="/ke-kho/ke-sat-v-lo"> <button class="button button1"> XEM GIÁ </button> </a>

                                </div>              
                            </div>   
                    </div>
                  </div>               
              </div>
          </div>

          <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="/ke-kho/ke-trung-tai"> <img src="./img/ke-kho/ke-trung-tai.jpg" alt="kệ trung tải"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="/ke-kho/ke-trung-tai">Kệ Trung Tải</a>
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="/ke-kho/ke-trung-tai"> <button class="button button1"> XEM GIÁ </button> </a>

                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>

        <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="/ke-kho/tu-do-sieu-thi"> <img src="./img/ke-kho/tu-do-sieu-thi.jpg" alt="tủ đồ siêu thị"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="/ke-kho/tu-do-sieu-thi">Tủ Đựng Đồ Siêu Thị</a>
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="./ke-kho/tu-do-sieu-thi"> <button class="button button1"> XEM GIÁ </button> </a>

                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>

      </div>
  </div>
</div>
      </div>
  </div>
</div>
<div class="grid wide">
    <div class="danhmuc">
        <div class="col l-3 m-12 c-12 danhmuc_me">
          <a href="">THIẾT BỊ SIÊU THỊ </a>
        </div>  

        <div class="col l-9 ">
            <div class="danhmuc_con">
                <a href="">Camera</a>
                <a href="">Phần mềm bán hàng</a>
                <a href=""> Cửa từ </a>
                <a href=""> Bàn thu ngân </a>
                <a href=""> Đầu đọc mã vạch </a>



            </div>
        </div>
           
        </div>
    </div>
</div>

<!-- Hình ảnh sản phẩm -->
<!-- Kệ kho hàng  -->

<div class="sanpham">
  <div class="grid wide">
      <div class="row">

          <div class="col l-3 m-4 c-6">
              <div class="boder-sp"> 
                  <div class="grid">
                    <div class="row">
                        <div class="col l-12 m-12 c-12">
                        <div class="hinhanh-sanpham">
                            <a href="./thiet-bi-sieu-thi/camera-an-ninh"> <img src="../img/thiet-bi-sieu-thi/camera-an-ninh-sieu-thi.jpg" alt="Camera"></a>
                        </div>
    
                        </div>
                        <div class="col l-12 m-12 c-12">
                            <div class="ten-sanpham">
                                <a href="./thiet-bi-sieu-thi/camera-an-ninh">Camera an ninh</a>
                                
                            </div>
        
                            </div>
                            <div class="col l-12 m-12 c-12">
                                <div class="mua-sanpham">
                                      <a href="./thiet-bi-sieu-thi/camera-an-ninh"> <button class="button button1"> XEM GIÁ </button> </a>
                                </div>              
                            </div>   
                    </div>
                  </div>               
              </div>
          </div>

          <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="./thiet-bi-sieu-thi/phan-mem-quan-ly-ban-hang"> <img src="../img/thiet-bi-sieu-thi/phan-mem-ban-hang.jpg" alt="phần mềm"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="./thiet-bi-sieu-thi/phan-mem-quan-ly-ban-hang">Phần mềm quản lý bán hàng</a>
                            
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="./thiet-bi-sieu-thi/phan-mem-quan-ly-ban-hang"> <button class="button button1"> XEM GIÁ </button> </a>
                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>

        <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="./thiet-bi-sieu-thi/cua-tu-an-ninh"> <img src="../img/thiet-bi-sieu-thi/cua-tu-an-ninh-sieu-thi.jpg" alt="cửa từ"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="./thiet-bi-sieu-thi/cua-tu-an-ninh">Cửa từ an ninh</a>
                              
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="./thiet-bi-sieu-thi/cua-tu-an-ninh"> <button class="button button1"> XEM GIÁ </button> </a>
                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>
        
        <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="./thiet-bi-sieu-thi/ban-thu-ngan"> <img src="../img/thiet-bi-sieu-thi/ban-thu-ngan.jpg" alt="bàn thu ngân"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="./thiet-bi-sieu-thi/ban-thu-ngan">Bàn thu ngân</a>
                              
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="./thiet-bi-sieu-thi/ban-thu-ngan"> <button class="button button1"> XEM GIÁ </button> </a>
                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>
        <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="./thiet-bi-sieu-thi/dau-doc-ma-vach"> <img src="../img/thiet-bi-sieu-thi/dau-doc-ma-vach.jpg" alt="đầu đọc"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="./thiet-bi-sieu-thi/dau-doc-ma-vach">Đầu đọc mã vạch</a>
                              
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="./thiet-bi-sieu-thi/dau-doc-ma-vach"> <button class="button button1"> XEM GIÁ </button> </a>
                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>

        <div class="col l-3 m-4 c-6">
            <div class="boder-sp"> 
                <div class="grid">
                  <div class="row">
                      <div class="col l-12 m-12 c-12">
                      <div class="hinhanh-sanpham">
                          <a href="./thiet-bi-sieu-thi/xe-day-hang-sieu-thi"> <img src="../img/thiet-bi-sieu-thi/xe-day-hang-sieu-thi.jpg" alt="xe đẩy siêu thị"></a>
                      </div>
  
                      </div>
                      <div class="col l-12 m-12 c-12">
                          <div class="ten-sanpham">
                              <a href="./thiet-bi-sieu-thi/xe-day-hang-sieu-thi">Xe đẩy hàng siêu Thị</a>
                              
                          </div>
      
                          </div>
                          <div class="col l-12 m-12 c-12">
                              <div class="mua-sanpham">
                                      <a href="./thiet-bi-sieu-thi/xe-day-hang-sieu-thi"> <button class="button button1"> XEM GIÁ </button> </a>
                              </div>              
                          </div>   
                  </div>
                </div>               
            </div>
        </div>

      </div>
  </div>
</div>

<hr>
<div class="grid wide">
   <div class="row">
       <div class="col l-12 m-12 c-12">
           <div class="phan-hoi" id="#section2">  
              <h2>
                  TIN TỨC - SỰ KIỆN
              </h2>
           </div>
       </div>
   </div> 

   <div class="gird wide">
       <div class="row">
            <div class="col l-7 m-12 c-12">
                <div class="baiviet1">
                    <img src="../img/bai-viet/5-mau-ke-sieu-thi-nam-2021.jpg" alt="lắp đặt kệ giá rẻ">
                    <a href="./tin-tuc/top-5-mau-ke-sieu-thi-gia-re-nam-2021"> 
                    <h2> 5 MẪU KỆ SIÊU THỊ GIÁ RẺ NĂM 2021 </h2>
                    </a>
                <p>
                    Bạn đang cần tìm <i>kệ siêu thị </i> giá rẻ, da dạng mẫu mã, phù hợp với các không gian cửa hàng khác nhau giá thành rẻ  thì hãy tham khảo 5 mẫu kệ mà giá kệ siêu thị Tân Phát đang phân phối trên thị trường nhé...
                </p>
                <a href="./tin-tuc/top-5-mau-ke-sieu-thi-gia-re-nam-2021" class="xemthem" >Chi tiết</a> 

                </div>
            </div>
            <div class="col l-5 m-12 c-12">
                <div class="baiviet23">
                    <div class="col l-12 m-12 c-12">

                        <div class="baiviet23-phu">

                            <img src="../img/bai-viet/lap-dat-ke-sieu-thi-mien-phi-tai-hoa-binh.jpg" alt="bài viết 2">
                            <div class="tieude-phu">
                                <a href=""> 
                                    <h2> Hỗ trợ vận chuyển và lắp đặt miễn phí kệ siêu thị tại Hòa Bình</h2>                                                         
                                </a>
                                <p>Để đáp ứng nhu cầu đó, Giá kệ siêu thị Tân Phát cung cấp đa dang các loại kệ siêu thị, kệ kho hàng, kệ sữa tại Hòa Bình.

                                </p>
                             <a href="./tin-tuc/" class="xemthem" >Chi tiết</a> 

                             </div>
                       </div>
                    </div>
                    <div class="col l-12 m-12 c-12">

                        <div class="baiviet23-phu">

                            <img src="../img/bai-viet/cach-lap-ke-don/lap-dat-ke-sieu-thi-luoi-don.jpg" alt="bài viết 2">
                            <div class="tieude-phu">
                                <a href="./tin-tuc/huong-dan-lap-dat-ke-sieu-thi-luoi-don"> 
                                    <h2>HƯỚNG DẪN CHI TIẾT CÁCH LẮP KỆ SIÊU THỊ LƯỚI ĐƠN </h2>                                                         
                                </a>
                                <p>Hương dẫn chi tiết lắp đặt kệ siêu thị lưới đơn nhanh chóng, chỉ mất 5 phút là bạn đã lắp xong 1 bộ kệ.
                                </p>
                             <a href="./tin-tuc/huong-dan-lap-dat-ke-sieu-thi-luoi-don" class="xemthem" >Chi tiết</a> 

                             </div>
                       </div>
                    </div>
                    <div class="col l-12 m-12 c-12">

                        <div class="baiviet23-phu">

                            <img src="../img/bai-viet/lap-dat-cua-hang-sua-tai-phu-tho.jpg" alt="bài viết 2">
                            <div class="tieude-phu">
                                <a href="./tin-tuc/lap-dat-ke-v-lo-cho-cua-hang-sua-tai-phu-tho"> 
                                    <h2>Lắp đặt kệ sắt V lỗ cho của hàng sữa tại tỉnh Phú Thọ </h2>                                                         
                                </a>
                                <p>
                                   Kệ v lỗ cũng được sử dụng rất phổ biến tại các cửa hàng cửa hàng sữa tại tỉnh Phú Thọ. Hãy cùng tham khảo 1 số hình ảnh 
                                </p>
                             <a href="./tin-tuc/lap-dat-ke-v-lo-cho-cua-hang-sua-tai-phu-tho" class="xemthem" >Chi tiết</a> 

                             </div>
                       </div>
                    </div>

              </div>
            </div>
       </div>
   </div>
</div>
<div class="col l-12 m-12 c-12">
    <div class="xemthem1">
                <a href="./tin-tuc" class="" >Xem thêm</a> 

    </div>

</div>

<br>

<br>
<div class="grid wide">
   <div class="row">
       <div class="col l-12 m-12 c-12">
           <div class="phan-hoi" id="#section2">  
              <h2>
                  FEEDBACK KHÁCH HÀNG
              </h2>
           </div>
       </div>
   </div> 
   <br>
<div class="grid wide">
    <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>
Được một người bạn giới thiệu. Mình rất ấn tượng chất lượng sản phẩm, chính sách bảo hành và sự vui vẻ nhiệt tình của nhân viên của Tân Phát</p>   
      <div class="content">
        <div class="info">
          <div class="name">Chị Hà</div>
          <div class="job">Việt Yên, Bắc Giang</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="image">
        <img src="../img/feedback/DSC_8801.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Đội Ngũ Chăm Sóc Khách Hàng Tận Tình chu đáo, sản phẩm giá kệ siêu thị dùng rất tốt bền chịu được sức nặng. Đơn vị vận chuyển và lắp đặt nhanh chóng, mà
giá cả hợp lý. Cảm ơn giá kệ siêu thị Tân Phát đã hỗ trợ tôi nhé. Chúc đơn vị kinh doanh thuận lợi
</p>
      <div class="content">
        <div class="info">
          <div class="name">Chị Hoa</div>
          <div class="job">Cẩm Khê, Phú Thọ</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
        <img src="../img/feedback/NQT_0170.jpg" alt=""> 
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>
Gia đình tôi đã bán hàng tạp hóa đc hơn 10 năm. Mỗi lúc cần tìm một món hàng nào đó thì cần mất nhiều thời gian. Nhưng từ khi lắp đặt kệ siêu của Tân Phát, cửa hàng nhà tôi trở lên sáng sửa gọn gàng hơn</p>
      <div class="content">
        <div class="info">
          <div class="name">Cô Minh Hòa</div>
          <div class="job">Tân Lạc, Hòa Bình </div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
        <img src="../img/feedback/DSCF2610.jpg" alt="">

        </div>
      </div>
    </div>
  </div>
</div>