<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Tin tức, sự kiện về giá kệ siêu thị, kệ sắt v lỗ đa năng, kệ kho hàng, kệ lưới, kệ tôn đục lỗ... Giá kệ siêu thị Tân Phát">
    <title> Tin tức - sự kiện | Giá kệ siêu thị Tân Phát </title>
     <meta property="og:image" content="img/baner11.jpg">
    <meta property="og:image:width" content="1280" >
    <meta property="og:image:height" content="720" >
</head>  
  
    <div class="banner2">
        <img src="" alt="">
    </div>



<div class="sanpham">
  <div class="grid2">
      <div class="row">
            {{#each news}}
          <div class="col l-6 m-6 c-12">
              <div class="boder-baiviet"> 
                  <div class="grid">
                    <div class="row">

                        <div class="col l-4 m-4 c-4">
                        <div class="hinhanh-sanpham">
                            <a href="./tin-tuc/{{this.slug}}"> <img src="../img/bai-viet/{{this.img}}" alt=""></a>
                        </div>
    
                        </div>
                        <div class="col l-8 m-8 c-8">
                            <div class="tieude-baiviet">
                                <a href="./tin-tuc/{{this.slug}}">{{this.title}}</a>
                                <p>{{this.sapo}}</p>  
                                <a href="./tin-tuc/{{this.slug}}" class="xemthem" >Chi tiết</a> 

                            </div>


                         </div>
                    </div>
                  </div>               
              </div>

          </div>  
 {{/each}} 
      </div>
  </div>
</div>
  
        
    </div>
  <div class="grid2">
        <div class="phan-trang">
                     <div class="pagination">
                    <a href="">&laquo;</a>
                    <a href="/tin-tuc" class="active">1</a>
                    <a href="/tin-tucs">2</a>
                    <a href="tin-tucs">&raquo;</a>
                    </div>
            </div>
        </div>